{% extends "base.html" %}
{% block title %}Referral submitted{% endblock %}
{% block content %}
<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">Referral submitted</h1>
  <div class="govuk-panel__body">
    Your reference number<br>
    <strong>{{ ref }}</strong>
  </div>
</div>

<p class="govuk-body">We have received your referral to Children's Centre Services.</p>

<h2 class="govuk-heading-m">What happens next</h2>
<p class="govuk-body">
  Send the completed referral by email to
  <a href="mailto:earlyinterventionhub@northumberland.gov.uk" class="govuk-link">earlyinterventionhub@northumberland.gov.uk</a>.
  Please use the subject line: <strong>SSCC – Request for Service</strong>.
</p>
<p class="govuk-body">An allocated worker will be in touch to confirm the course start date.</p>

<p class="govuk-body">
  <a href="/" class="govuk-link">Submit another referral</a>
</p>
{% endblock %}
