{% extends "base.html" %}
{% block title %}Consent and registration{% endblock %}
{% block content %}
<form method="post" novalidate>
  {% if errors %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for field, msg in errors.items() %}
          <li><a href="#{{ field }}">{{ msg }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  <h1 class="govuk-heading-l">Consent and registration</h1>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      This form will be returned if the family is not registered or consent has not been given.
    </strong>
  </div>

  <div class="govuk-form-group {% if errors.registered_sure_start %}govuk-form-group--error{% endif %}">
    {% if errors.registered_sure_start %}
    <p id="registered_sure_start-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ errors.registered_sure_start }}
    </p>
    {% endif %}
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="registered_sure_start"
               name="registered_sure_start" type="checkbox" value="yes"
               aria-describedby="{% if errors.registered_sure_start %}registered_sure_start-error{% endif %}"
               {% if answers.registered_sure_start == 'yes' %}checked{% endif %}>
        <label class="govuk-label govuk-checkboxes__label" for="registered_sure_start">
          The family is registered with Sure Start Children's Centre
        </label>
      </div>
    </div>
  </div>

  <div class="govuk-form-group {% if errors.verbal_consent %}govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset"
              aria-describedby="{% if errors.verbal_consent %}verbal_consent-error{% endif %}">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Has verbal consent been given by the family?</h2>
      </legend>
      {% if errors.verbal_consent %}
      <p id="verbal_consent-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ errors.verbal_consent }}
      </p>
      {% endif %}
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="verbal_consent-yes" name="verbal_consent"
                 type="radio" value="yes"
                 {% if answers.verbal_consent == 'yes' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="verbal_consent-yes">Yes</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="verbal_consent-no" name="verbal_consent"
                 type="radio" value="no"
                 {% if answers.verbal_consent == 'no' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="verbal_consent-no">No</label>
        </div>
      </div>
    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
{% endblock %}
