{% extends "base.html" %}
{% block title %}What is your date of birth?{% endblock %}
{% block content %}
<form method="post" novalidate>
  {% if errors %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for field, msg in errors.items() %}
          <li><a href="#dob-day">{{ msg }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="govuk-form-group {% if errors.dob %}govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint {% if errors.dob %}dob-error{% endif %}">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">What is your date of birth?</h1>
      </legend>
      <div id="dob-hint" class="govuk-hint">For example, 27 3 1990. You must be 18 or over.</div>
      {% if errors.dob %}
      <p id="dob-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ errors.dob }}
      </p>
      {% endif %}
      <div class="govuk-date-input" id="dob">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-day">Day</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors.dob %}govuk-input--error{% endif %}"
                   id="dob-day" name="dob_day" type="text" inputmode="numeric"
                   value="{{ answers.dob_day or '' }}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-month">Month</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors.dob %}govuk-input--error{% endif %}"
                   id="dob-month" name="dob_month" type="text" inputmode="numeric"
                   value="{{ answers.dob_month or '' }}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-year">Year</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors.dob %}govuk-input--error{% endif %}"
                   id="dob-year" name="dob_year" type="text" inputmode="numeric"
                   value="{{ answers.dob_year or '' }}">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
{% endblock %}
