{% extends "base.html" %}
{% block title %}Which type of licence are you applying for?{% endblock %}
{% block content %}
<form method="post" novalidate>
  {% if errors %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for field, msg in errors.items() %}
          <li><a href="#licence_type-personal">{{ msg }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="govuk-form-group {% if errors.licence_type %}govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" aria-describedby="{% if errors.licence_type %}licence_type-error{% endif %}">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">Which type of licence are you applying for?</h1>
      </legend>
      {% if errors.licence_type %}
      <p id="licence_type-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ errors.licence_type }}
      </p>
      {% endif %}
      <div class="govuk-radios" data-module="govuk-radios">
        {% for value, label in [('personal', 'Personal licence'), ('premises', 'Premises licence'), ('event', 'Temporary event notice')] %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="licence_type-{{ value }}" name="licence_type"
                 type="radio" value="{{ value }}"
                 {% if answers.licence_type == value %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="licence_type-{{ value }}">{{ label }}</label>
        </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
{% endblock %}
