{% extends "base.html" %}
{% block title %}Do you have a previous licence number?{% endblock %}
{% block content %}
<form method="post" novalidate>
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="previous_licence_number">
        Do you have a previous licence number?
      </label>
    </h1>
    <div id="previous-hint" class="govuk-hint">This is optional. Leave blank if this is your first application.</div>
    <input class="govuk-input govuk-input--width-20" id="previous_licence_number"
           name="previous_licence_number" type="text" aria-describedby="previous-hint"
           value="{{ answers.previous_licence_number or '' }}">
  </div>

  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
{% endblock %}
